#dhubri_bilasipara {
  top: -30px;
  left: 175px;
}

#dhubri_chapar {
  top: -122px;
  left: 266px;
}

#dhubri_gauripur {
  top: 20px;
  left: -127px;
}

#dhubri_sapatgram {
  top: -158px;
    left: 107px;
}

#dhubri {
  top: 10px;
    left: -97px;
}

#kokrajhar_gossaigaon {
  top: -60px;
  left: -50px;
}

#chirang_bijni {
  top: 150px;
  left: 100px;

}

#Chirang_basugaon {
  top: 120px;
  left: -70px;
}
