@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body {
    background: #191919;
}

ul li{
    list-style-type: none;
}

header a{
    font-family: 'Sen', sans-serif;
    font-weight:14;
    color: #ffffff;
    text-decoration: none;
}

#left-nav{
    float: left;
}

#right-nav{
    float: right;
}

#right-nav li{
    display: inline-block;
    margin: 10px;
}

path:hover {
    cursor:pointer;
    fill: #ffffff;
}

footer{
    clear: both;
}
