body {
    background: #191919;
    color: #ffffff;

}

h3 {
    color: #000;
}

body h3 {
  color: #eb0029;
}

body > h3 {
    background: #fff;
}

path:hover {
	cursor:pointer;
	fill: #ffffff;
}

.assam {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
