body {
    background: #191919;
    color: #ffffff;

}

h3 {
    color: #000;
}

body h3 {
  color: #eb0029;
}

body > h3 {
    background: #fff;
}

.districts svg {
  position: absolute;
  width: auto;
}

.districts.dhubri svg {
	top:100px;
	left:100px;
}

.assam {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

a:hover path {
	fill: #ffffff;
}
